<h2 style = "text-align:center;color:#76CD26">EDA Project_1</h2>

In [2]:
import pandas as pd
import seaborn as sns

df = pd.read_csv("C:\\Users\\vineet\\Desktop\\TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\2796490272.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\vineet\\Desktop\\TWO_CENTURIES_OF_UM_RACES.csv")

In [3]:
df.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
5,2018,06.01.2018,Selva Costera (CHI),50km,22,6:25:01 h,NaN,ARG,1974.0,M,M40,7.792,5
6,2018,06.01.2018,Selva Costera (CHI),50km,22,6:28:00 h,Los Patagones,ARG,1979.0,F,W35,7.732,6
7,2018,06.01.2018,Selva Costera (CHI),50km,22,6:32:24 h,Reaktiva Chile,CHI,1967.0,F,W50,7.645,7
8,2018,06.01.2018,Selva Costera (CHI),50km,22,6:39:08 h,Puro Trail Osorno,CHI,1985.0,M,M23,7.516,8
9,2018,06.01.2018,Selva Costera (CHI),50km,22,6:45:11 h,Marlene Flores Team,CHI,1976.0,M,M40,7.404,9

In [4]:
#df[df["Athlete gender"]== "F" && df["Athlete age category"] == "W60"]

df.shape

(7461195, 13)

In [5]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [6]:
#clean the data 

#Only want USA races, 50Km or 50Miles in 2020
#Show 50miles or 50K
#50k

df[df["Event distance/length"] == "50km"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461089,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:19:56 h,*QLD,AUS,1956.0,F,W35,11541.0,1046326
7461090,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:28:57 h,*QLD,AUS,1954.0,M,M40,11154.0,1070007
7461091,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:46:39 h,*QLD,AUS,1951.0,M,M40,10466.0,345672
7461092,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:47:39 h,*QLD,AUS,1939.0,M,M55,10429.0,1082443
7461093,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,5:58:16 h,*QLD,AUS,1938.0,F,W55,8374.0,1082581

In [7]:
#If some input as 50k

df[df["Event distance/length"] == "50k"]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete club, Athlete country, Athlete year of birth, Athlete gender, Athlete age category, Athlete average speed, Athlete ID]
Index: []

In [8]:
#50 miles
df[df["Event distance/length"] == "50m"]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete club, Athlete country, Athlete year of birth, Athlete gender, Athlete age category, Athlete average speed, Athlete ID]
Index: []

In [9]:
df[df["Event distance/length"] == "50mi"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [10]:
#Combine 50k and 50mi with isin

df[df["Event distance/length"].isin(["50km","50mi"])]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [21]:
#Filtering 2020 data 

df[(df["Event distance/length"].isin(["50km","50mi"])) & (df["Year of event"] == 2020)]

#for and condition to work you have put each condition in parenthesis

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538571,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:34:19 h,日本隊,JPN,1965.0,M,M50,10.627,53107
2538572,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:43:50 h,NaN,AUS,1974.0,M,M45,10.409,8785
2538573,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:04:40 h,NaN,TPE,1976.0,M,M40,9.962,4502
2538574,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:30:49 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,9.452,63964
2538575,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:34:47 h,NaN,TPE,1964.0,M,M55,9.379,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762404,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:25 h,AKS Polonia Warszawa,POL,1981.0,F,W35,6.573,860743
2762405,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:27 h,*Warszawa,POL,1970.0,F,W45,6.572,860744
2762406,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:44:18 h,Outdoor Training,POL,1993.0,F,W23,6.461,860745
2762407,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:04:50 h,PH Bysewo Gdańsk,POL,1976.0,M,M40,6.188,798409
2762408,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:11:43 h,*Nowe Aleksandrowo,POL,1961.0,M,M55,6.101,860746

In [23]:
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
51923,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,7:00:00 h,*Tadworth,GBR,1980.0,M,M35,11.495,47601
51924,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,8:29:48 h,"*Fort Lauderdale, FL",USA,1989.0,M,M23,9.47,37220
51925,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,8:45:31 h,"*Miami, FL",USA,1979.0,M,M35,9.187,47602
51926,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,9:01:52 h,"*Fort Lauderdale, FL",USA,1967.0,M,M50,8.91,47603
51927,2018,17.02.2018,Everglades 50 Mile Ultra Run (USA),50mi,23,9:26:06 h,"*Naples, FL",USA,1986.0,M,M23,8.529,47604
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6417091,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:24:08 h,*Saarbrücken,GER,1968.0,M,M45,6.004,198009
6417092,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:24:08 h,*Saarbrücken,GER,1974.0,F,W40,6.004,198010
6417093,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:40:57 h,"*Weston, FL",USA,1972.0,F,W40,5.881,361182
6417094,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:55:09 h,"*Merritt Island, FL",USA,1960.0,M,M50,5.781,1479954
6417095,2015,21.02.2015,Everglades 50 Mile Ultra Run (USA),50mi,67,13:55:14 h,"*Miami, FL",USA,1983.0,M,M23,5.78,410816

In [31]:
#Now we have to figure out how to pull only USA data
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]["Event name"]

51923      Everglades 50 Mile Ultra Run (USA)
51924      Everglades 50 Mile Ultra Run (USA)
51925      Everglades 50 Mile Ultra Run (USA)
51926      Everglades 50 Mile Ultra Run (USA)
51927      Everglades 50 Mile Ultra Run (USA)
                          ...
6417091    Everglades 50 Mile Ultra Run (USA)
6417092    Everglades 50 Mile Ultra Run (USA)
6417093    Everglades 50 Mile Ultra Run (USA)
6417094    Everglades 50 Mile Ultra Run (USA)
6417095    Everglades 50 Mile Ultra Run (USA)
Name: Event name, Length: 338, dtype: object

In [34]:
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]["Event name"].str.split("(")

51923      [Everglades 50 Mile Ultra Run , USA)]
51924      [Everglades 50 Mile Ultra Run , USA)]
51925      [Everglades 50 Mile Ultra Run , USA)]
51926      [Everglades 50 Mile Ultra Run , USA)]
51927      [Everglades 50 Mile Ultra Run , USA)]
                           ...
6417091    [Everglades 50 Mile Ultra Run , USA)]
6417092    [Everglades 50 Mile Ultra Run , USA)]
6417093    [Everglades 50 Mile Ultra Run , USA)]
6417094    [Everglades 50 Mile Ultra Run , USA)]
6417095    [Everglades 50 Mile Ultra Run , USA)]
Name: Event name, Length: 338, dtype: object

In [36]:
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]["Event name"].str.split("(").str.get(1)

51923      USA)
51924      USA)
51925      USA)
51926      USA)
51927      USA)
           ...
6417091    USA)
6417092    USA)
6417093    USA)
6417094    USA)
6417095    USA)
Name: Event name, Length: 338, dtype: object

In [ ]:
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]["Event name"].str.split("(").str.get(1).str.split(")")

51923      [USA, ]
51924      [USA, ]
51925      [USA, ]
51926      [USA, ]
51927      [USA, ]
            ...
6417091    [USA, ]
6417092    [USA, ]
6417093    [USA, ]
6417094    [USA, ]
6417095    [USA, ]
Name: Event name, Length: 338, dtype: object

In [39]:
df[df["Event name"] == "Everglades 50 Mile Ultra Run (USA)"]["Event name"].str.split("(").str.get(1).str.split(")").str.get(0)

51923      USA
51924      USA
51925      USA
51926      USA
51927      USA
          ...
6417091    USA
6417092    USA
6417093    USA
6417094    USA
6417095    USA
Name: Event name, Length: 338, dtype: object

In [41]:
#don't need Everglades anymore we just used it to get to code in line 39 
df[df["Event name"].str.split("(").str.get(1).str.split(")").str.get(0) == "USA"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [50]:
#Combine all filters together

df[(df["Event distance/length"].isin(["50km","50mi"])) & (df["Year of event"] == 2020) & (df["Event name"].str.split("(").str.get(1).str.split(")").str.get(0) == "USA")]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:07:48 h,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:27:22 h,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:27:24 h,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:38:30 h,"*Mason, MI",USA,1981.0,F,W35,6.543,860349
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:59:53 h,NaN,USA,1980.0,M,M35,6.252,770097

In [131]:
df2 = df[(df["Event distance/length"].isin(["50km","50mi"])) & (df["Year of event"] == 2020) & (df["Event name"].str.split("(").str.get(1).str.split(")").str.get(0) == "USA")]
df2.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281
2539950,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:42:06 h,"*Seattle, WA",USA,1985.0,F,W23,10.635,810282
2539951,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:49:20 h,"*Camano Island, WA",USA,1961.0,M,M55,10.369,11739
2539952,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:49:50 h,"*Clinton, WA",USA,1970.0,M,M45,10.351,80394
2539953,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:51:00 h,"*Seattle, WA",USA,1975.0,F,W40,10.309,140909
2539954,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,5:02:35 h,"*Sammamish, WA",USA,1979.0,M,M40,9.915,753889

In [132]:
df2.shape

(26090, 13)

In [133]:
#remove (USA) from event name

df2["Event name"].str.split('(').str.get(0)

2539945    West Seattle Beach Run - Winter Edition
2539946    West Seattle Beach Run - Winter Edition
2539947    West Seattle Beach Run - Winter Edition
2539948    West Seattle Beach Run - Winter Edition
2539949    West Seattle Beach Run - Winter Edition
                             ...
2760957     Yankee Springs Fall Trail Run Festival
2760958     Yankee Springs Fall Trail Run Festival
2760959     Yankee Springs Fall Trail Run Festival
2760960     Yankee Springs Fall Trail Run Festival
2760961     Yankee Springs Fall Trail Run Festival
Name: Event name, Length: 26090, dtype: object

In [134]:
df2["Event name"] = df2["Event name"].str.split('(').str.get(0)

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\9866251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Event name"] = df2["Event name"].str.split('(').str.get(0)

In [135]:
df2.head(5)
#USA gone

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281

In [136]:
#Cleaning up the athlete age category
#Changing the Age category from current to Year of event - Athlete birth year

df2['athlete_age'] = 2020 - df2["Athlete year of birth"]

df2

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\6940529.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['athlete_age'] = 2020 - df2["Athlete year of birth"]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete_age
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287,29.0
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508,39.0
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838,21.0
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450,37.0
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48 h,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361,62.0
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22 h,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469,43.0
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24 h,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174,58.0
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30 h,"*Mason, MI",USA,1981.0,F,W35,6.543,860349,39.0
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53 h,NaN,USA,1980.0,M,M35,6.252,770097,40.0

In [137]:
df2[(df2["Athlete age category"].isna())]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete_age
2547794,2020,25.01.2020,North Carolina Fat Ass 50 Km,50km,57,6:10:30 h,*NC,USA,NaN,M,NaN,8.097,811923,NaN
2551331,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,4:46:34 h,"*Houston, TX",USA,NaN,M,NaN,10.469,812656,NaN
2551336,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,5:08:36 h,"*Drummond, WI",USA,NaN,M,NaN,9.721,812657,NaN
2551344,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,5:54:04 h,"*Alpine, TX",USA,NaN,F,NaN,8.473,658221,NaN
2551348,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,6:07:11 h,"*Austin, TX",USA,NaN,M,NaN,8.17,812660,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2746543,2020,17.10.2020,Black River Trail Classic 50 Km,50km,8,8:31:26 h,NaN,USA,NaN,F,NaN,5.866,857251,NaN
2749869,2020,17.10.2020,MuleSkinner Endurance 50 Mile Race,50mi,27,11:55:05 h,NaN,USA,NaN,M,NaN,6.752,857957,NaN
2755985,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,9:03:25 h,NaN,USA,NaN,M,NaN,8.885,859462,NaN
2755994,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,10:37:00 h,NaN,USA,NaN,M,NaN,7.579,398583,NaN
2755997,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,12:30:00 h,NaN,USA,NaN,M,NaN,6.437,859465,NaN

In [138]:
df2

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete_age
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287,29.0
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508,39.0
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838,21.0
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450,37.0
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48 h,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361,62.0
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22 h,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469,43.0
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24 h,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174,58.0
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30 h,"*Mason, MI",USA,1981.0,F,W35,6.543,860349,39.0
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53 h,NaN,USA,1980.0,M,M35,6.252,770097,40.0

In [139]:
df2["Athlete performance"] = df2["Athlete performance"].str.split(" ").str.get(0)
df2

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\4192972396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Athlete performance"] = df2["Athlete performance"].str.split(" ").str.get(0)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete_age
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287,29.0
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508,39.0
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838,21.0
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450,37.0
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361,62.0
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469,43.0
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174,58.0
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30,"*Mason, MI",USA,1981.0,F,W35,6.543,860349,39.0
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53,NaN,USA,1980.0,M,M35,6.252,770097,40.0

In [ ]:
df2 = df2.drop(["Athlete club","Athlete country","Athlete year of birth","Athlete age category"], axis = 1)

In [150]:
df2

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55,M,15.158,71287,29.0
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32,M,12.369,629508,39.0
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57,M,12.099,64838,21.0
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02,M,11.449,704450,37.0
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34,M,11.212,810281,43.0
...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48,F,7.013,816361,62.0
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22,F,6.706,326469,43.0
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24,F,6.705,372174,58.0
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30,F,6.543,860349,39.0
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53,M,6.252,770097,40.0

In [ ]:
#clean up null values

In [153]:
df2.isna().sum()

Year of event                  0
Event dates                    0
Event name                     0
Event distance/length          0
Event number of finishers      0
Athlete performance            0
Athlete gender                 0
Athlete average speed          0
Athlete ID                     0
athlete_age                  233
dtype: int64

In [155]:
df2[df2['athlete_age'].isna() == 1]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2547794,2020,25.01.2020,North Carolina Fat Ass 50 Km,50km,57,6:10:30,M,8.097,811923,NaN
2551331,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,4:46:34,M,10.469,812656,NaN
2551336,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,5:08:36,M,9.721,812657,NaN
2551344,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,5:54:04,F,8.473,658221,NaN
2551348,2020,19.01.2020,Big Bend 50 - Fresno Creek 50K,50km,54,6:07:11,M,8.17,812660,NaN
...,...,...,...,...,...,...,...,...,...,...
2746543,2020,17.10.2020,Black River Trail Classic 50 Km,50km,8,8:31:26,F,5.866,857251,NaN
2749869,2020,17.10.2020,MuleSkinner Endurance 50 Mile Race,50mi,27,11:55:05,M,6.752,857957,NaN
2755985,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,9:03:25,M,8.885,859462,NaN
2755994,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,10:37:00,M,7.579,398583,NaN
2755997,2020,10.10.2020,Man Against Horse 50 Mile Race,50mi,23,12:30:00,M,6.437,859465,NaN

In [156]:
df2 = df2.dropna()

In [157]:
df2.shape

(25857, 10)

In [161]:
#check for dupes
df2[df2.duplicated() == True]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete gender, Athlete average speed, Athlete ID, athlete_age]
Index: []

In [162]:
#reset index
df2.reset_index(drop = True)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
0,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55,M,15.158,71287,29.0
1,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32,M,12.369,629508,39.0
2,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57,M,12.099,64838,21.0
3,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02,M,11.449,704450,37.0
4,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34,M,11.212,810281,43.0
...,...,...,...,...,...,...,...,...,...,...
25852,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48,F,7.013,816361,62.0
25853,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22,F,6.706,326469,43.0
25854,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24,F,6.705,372174,58.0
25855,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30,F,6.543,860349,39.0
25856,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53,M,6.252,770097,40.0

In [163]:
#fix types
df2.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete gender                object
Athlete average speed         object
Athlete ID                     int64
athlete_age                  float64
dtype: object

In [164]:
#change athlete_age data type to integer
df2["athlete_age"] = df2["athlete_age"].astype(int)

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\492844353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["athlete_age"] = df2["athlete_age"].astype(int)

In [168]:
df2["Athlete average speed"] = df2["Athlete average speed"].astype(float)

C:\Users\vineet\AppData\Local\Temp\ipykernel_11744\1434159826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Athlete average speed"] = df2["Athlete average speed"].astype(float)

In [169]:
df2.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete gender                object
Athlete average speed        float64
Athlete ID                     int64
athlete_age                    int64
dtype: object

In [142]:
#just checking how many entries before 1850
df[df["Year of event"] <= 1850]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
6824328,1798,00.08.1798,14 h London (GBR),14h,1,112.654 km,NaN,GBR,NaN,M,MU23,8047.0,1520515
6824329,1800,00.11.1800,64 miles Ury (GBR),64mi,1,12:00:00 h,NaN,GBR,NaN,M,MU23,8583.0,1520515
6824330,1801,02.12.1801,Thirsk 51 miles (GBR),51mi,1,9:15:00 h,NaN,GBR,NaN,M,NaN,8873.0,750214
6824331,1801,10.11.1801,90 miles Hull (GBR),90mi,1,20:22:04 h,NaN,GBR,NaN,M,MU23,7111.0,1520515
6824332,1801,00.11.1801,Thirsk 50 miles (GBR),50mi,2,9:28:00 h,NaN,GBR,NaN,M,NaN,8500.0,750214
6824333,1801,00.11.1801,Thirsk 50 miles (GBR),50mi,2,10:28:00 h,NaN,GBR,NaN,M,NaN,7688.0,612408
6824334,1802,00.07.1802,64 miles London (GBR),64mi,1,10:00:00 h,NaN,GBR,NaN,M,MU23,10300.0,1520515
6824335,1805,00.07.1805,64 mlles London (GBR),64mi,1,10:00:00 h,NaN,GBR,NaN,M,M23,10300.0,1520515
6824336,1807,12.-13.10.1807,24 h Newmarket (GBR),24h,2,64.374 km,NaN,GBR,NaN,M,M23,2682.0,1520515
6824337,1807,12.-13.10.1807,24 h Newmarket (GBR),24h,2,64.374 km,*Lancashire,GBR,1786.0,M,MU23,2682.0,1520516
6824338,1809,01.06.-12.07.1809,1000 miles Newmarket (GBR),1000mi,1,0:00:00 h,Performance: 999:37:00...,GBR,NaN,M,M23,NaN,1520515
6824339,1837,30.01.1837,London to Brighton Race (GBR),85km,1,8:37:00 h,NaN,GBR,1791.0,M,M45,9865.0,340384

In [143]:
#First female athlete record ???
df[df["Athlete gender"] == "F"]
#Last entry should be the first Female entry

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
6,2018,06.01.2018,Selva Costera (CHI),50km,22,6:28:00 h,Los Patagones,ARG,1979.0,F,W35,7.732,6
7,2018,06.01.2018,Selva Costera (CHI),50km,22,6:32:24 h,Reaktiva Chile,CHI,1967.0,F,W50,7.645,7
12,2018,06.01.2018,Selva Costera (CHI),50km,22,7:12:15 h,Tnfrc,CHI,1990.0,F,W23,6.94,12
17,2018,06.01.2018,Selva Costera (CHI),50km,22,8:02:35 h,Dream Team Trail,CHI,1985.0,F,W23,6.217,17
18,2018,06.01.2018,Selva Costera (CHI),50km,22,8:13:16 h,Maipu Runners,CHI,1981.0,F,W35,6.082,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367
7461187,1995,00.00.1995,Supermaraton Zagreb-Cazma (CRO),61.3km,2,4:35:57 h,NaN,HUN,1962.0,F,W23,13329.0,1051287
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520

In [144]:
df.tail(5)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
7461190,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,4:33:20 h,NaN,FRA,NaN,M,NaN,14268.0,1151060
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520
7461192,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,241.000 km,*Budapest,HUN,1950.0,M,M40,10042.0,1047373
7461193,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,228.000 km,*Szeged,HUN,1959.0,M,M35,9500.0,380150
7461194,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,224.000 km,*Pecs,HUN,1958.0,M,M35,9333.0,1070482

In [145]:
#From chatGPT

(df == "F").stack().idxmax()
#This is counting from top, also records are not sorted so I can't rely on 
#first occurence from top or bottom - both are going to be wrong

(6, 'Athlete gender')

In [146]:
#Create a separate DF for female athletes, and then find the earliest record

df3 = df[df["Athlete gender"] == "F"]
df3["Year of event"].min()

np.int64(1876)

In [147]:
df3[df3["Year of event"] == 1876]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
6824381,1876,30.06.-01.07.1876,100 miles Auckland (NZL),100mi,1,23:50:00 h,NaN,GBR,1853.0,F,W23,6752.0,1520524

In [148]:
#indian records
df[df["Athlete country"]=="IND" ]["Year of event"].min()

np.int64(1951)